<script type="text/javascript">
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
        var gads = document.createElement("script");
        gads.async = true;
        gads.type = "text/javascript";
        var useSSL = "https:" == document.location.protocol;
        gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
        var node =document.getElementsByTagName("script")[0];
        node.parentNode.insertBefore(gads, node);
    })();
</script>

<script type="text/javascript">
    googletag.cmd.push(function() {
    var mapping = googletag.sizeMapping().
        addSize([2048, 1536], [1440, 1440]). // Retina
        addSize([1536, 2048], [1440, 1440]). // Retina
        addSize([1920, 1080], [960, 960]).   // HD
        addSize([1080, 1920], [960, 960]).   // HD
        addSize([1024, 768], [640, 640]).    // iPad 2
        addSize([768, 1024], [640, 640]).    // iPad 2
        addSize([960, 640], [360, 360]).     // iPhone 4
        addSize([640, 960], [360, 360]).     // iPhone 4
        addSize([0, 0], [360, 360]).         // Default
        build();

    var stack = new Array();
    var has_interstitial = false;
    var reserved = ['slot_name', 'id', 'width', 'height', 'style', 'class'];
    var arr = document.getElementsByTagName('div');
    for (var i=0; i<arr.length; i++)
    {
        if (arr[i].className == 'gpt-ad')
        {
            var slot_name = arr[i].getAttribute('slot_name');
            var id = arr[i].getAttribute('id');
            var width = parseInt(arr[i].getAttribute('width'));
            var height = parseInt(arr[i].getAttribute('height'));
            if (width > 2 && height > 2 && !has_interstitial) {
                var slot = googletag.defineSlot(slot_name, [width, height], id).addService(googletag.pubads());
            } else {
                var slot = googletag.defineSlot(slot_name, [[360, 360], [640, 640], [960, 960], [1440, 1440]], id).defineSizeMapping(mapping).addService(googletag.pubads());
                has_interstitial = true;
            };

            for (var j=0; j<arr[i].attributes.length; j++){
                var attr = arr[i].attributes[j];
                if (attr.name.indexOf('data-pair-') == 0){
                    var key = attr.name.slice(10);
                    var value = attr.value.split('|');
                    slot.setTargeting(key, value);
                }
            }
            stack.push(slot);
        }
    }

    // We can't use enableSingleRequest since that kills the ability to do
    // subsequent ajax loads that contain DFP tags. Someday DFP may provide a
    // disableSingleRequest method and then we can consider using it again.
    //googletag.pubads().enableSingleRequest();

    // Republish slotRenderEnded event because pubads disappears after
    // enableServices.
    googletag.pubads().addEventListener('slotRenderEnded', function(event){
        var evt = new CustomEvent('DFPSlotRenderEnded', {
            detail: {
                dfp_event: event
            }
        });
        document.dispatchEvent(evt);
    });

    googletag.enableServices();

    var arr = document.getElementsByTagName('div');
    for (var i=0; i<arr.length; i++)
    {
        if (arr[i].className == 'gpt-ad')
        {
            var id = arr[i].getAttribute('id');
            googletag.cmd.push(function() { googletag.display(id); });
        }
    }

    /* Not ready yet - ajax reloads
    (function where_am_i_worker(){
        googletag.pubads().refresh(stack);
        setTimeout(where_am_i_worker, 10000);
    })();
    */

    });
</script>
